<!DOCTYPE html>

<html>
    {% csrf_token %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width" />

        <title>Hymns</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static "icons/favicon.svg" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "frontend/index.css" %}">
    </head>

    <body>
        <div id="app"></div>

        <script type="module" src="{% static "frontend/main.js" %}"></script>
    </body>
</html>